# Python
.venv/
__pycache__/
*.pyc
#runtime
runtime/
# ConnectOnion
.co/

# Uploads
uploads/

# macOS
.DS_Store

# Audio files
*.wav
*.m4a

# Xcode
xcuserdata/
DerivedData/
build/
xcuserdata/
*.xcuserstate
mac-app/Whispr/Whispr.xcodeproj/xcshareddata/xcschemes/Whispr.xcscheme

#json
*.json