# Python
.venv/
__pycache__/
*.pyc

# ConnectOnion
.co/

# Uploads
uploads/

# macOS
.DS_Store

# Audio files
*.wav
*.m4a

# Xcode
xcuserdata/
DerivedData/
build/
xcuserdata/
*.xcuserstate

#json
*.json